/********************
*  Global
********************/
body, html{
    margin: 0;
}

/********************
*  Game Layout
********************/
header{
    background-color: #1d1f21;
    width: 100%;
    height: 15vh;
    margin-bottom: 5vh;
}

#gameStats{
    width: 20%;
    height: 40vh;
    float: left;
    margin: 0 0 0 1%;
    background-color: #1A1A1A;

}

#gameBoard{
    width: 50%;
    margin: 0 auto;
}
/********************
*  Card Styles
********************/
.card{
    display: inline-block;
    position: relative;
    width: 7vw;
    margin: 0 .5%;
}

.card:before{
    content: "";
    display: block;
    padding-top: 145%;
}

.front{
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    width: 100%;
    height: 100%;
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/archer-themed-playing-card.jpg") no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}